IFMTYP_team02/Service References/AdService/AdCRUD2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8256/AdCRUD.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="insertAd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Platform" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Price" type="xs:double" />
        <xs:element minOccurs="0" name="Negotiable" type="xs:int" />
        <xs:element minOccurs="0" name="ShowNumber" type="xs:int" />
        <xs:element minOccurs="0" name="Pic1Path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pic2Path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pic3Path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PremiumAd" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertAdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteAdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdID" type="xs:int" />
        <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Platform" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Price" type="xs:double" />
        <xs:element minOccurs="0" name="Negotiable" type="xs:int" />
        <xs:element minOccurs="0" name="ShowNumber" type="xs:int" />
        <xs:element minOccurs="0" name="Pic1Path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pic2Path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pic3Path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PremiumAd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateAdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAdDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAdDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAdDetailsResult" nillable="true" type="q1:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEditAdDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEditAdDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getEditAdDetailsResult" nillable="true" type="q2:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchAds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="extraSQLParams" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="extraSQLOrderBys" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchAdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="searchAdsResult" nillable="true" type="q3:ArrayOfArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPlatforms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPlatformsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getPlatformsResult" nillable="true" type="q4:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserAds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserAdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getUserAdsResult" nillable="true" type="q5:ArrayOfArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecentlyAdded">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecentlyAddedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getRecentlyAddedResult" nillable="true" type="q6:ArrayOfArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumUserAds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumUserAdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNumUserAdsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFlaggedAdsManagement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFlaggedAdsManagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getFlaggedAdsManagementResult" nillable="true" type="q7:ArrayOfArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAdsManagement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAdsManagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllAdsManagementResult" nillable="true" type="q8:ArrayOfArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchAdsManagement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="extraSQLParams" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchAdsManagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="searchAdsManagementResult" nillable="true" type="q9:ArrayOfArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getUserEmailResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unflagAd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unflagAdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unflagAdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="flagAd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="flagAdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flagAdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reportAd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reportAdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reportAdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unreportAd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unreportAdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unreportAdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReportedAdsManagement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getReportedAdsManagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getReportedAdsManagementResult" nillable="true" type="q11:ArrayOfArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersAdsManagement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersAdsManagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getUsersAdsManagementResult" nillable="true" type="q12:ArrayOfArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="numNewAdsYearManagement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="numNewAdsYearManagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numNewAdsYearManagementResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="numNewAdsMonthManagement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="numNewAdsMonthManagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numNewAdsMonthManagementResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="numNewAdsWeekManagement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="numNewAdsWeekManagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numNewAdsWeekManagementResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="numNewAdsDayManagement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="numNewAdsDayManagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numNewAdsDayManagementResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="numReportedAdsManagement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="numReportedAdsManagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numReportedAdsManagementResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="numFlaggedAdsManagement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="numFlaggedAdsManagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numFlaggedAdsManagementResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="numPremAdsManagement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="numPremAdsManagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numPremAdsManagementResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="incViewCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="incViewCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="incViewCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getViewCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getViewCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getViewCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>